.cardProducto {
  width: 18rem;
  margin: 4px;
  background-color: hsl(0, 0%, 97%);
}

.cardBody {
  background-color: white;
  text-align: center;
  height: 150px;
}

.imgProd {
  margin-top: 3px;
  height: 331px;
}

.imgbox{
  background-color: white;
  text-align: center;
  height: 331px;
}
.cardProductos {
  margin:4px;
  align-items: center;
  justify-content: center;
}

.itemDetail {
  max-width: 840px;
  margin-top: 20px;
}

.buildingBox {
  width: 36rem;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.bottonBox{
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}
